<!DOCTYPE html>

<!-- account mailer layout, used for external enrollments and importing use=
rs --><!--

Email template: email_header

Description: The email header used across all templates

 --><html xmlns=3D"http://www.w3.org/1999/xhtml">

  <head>

    <meta name=3D"viewport" content=3D"width=3Ddevice-width">

    <meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3DUTF-8=
">

    <meta charset=3D"UTF-8">

    <title></title>

   =20





<style>

@media only screen and (max-device-width: 700px) {

  .table-wrapper, .legal-wrapper {

    width: 100% !important;

    margin-top: 0px !important;

  }



  .table-wrapper {

    border-radius: 0px !important;

  }



  .header {

    border-radius: 0px !important;

  }



  .header-title {

    padding-left: 20px !important;

    padding-right: 20px !important;

  }



  .header-title h1 {

    font-size: 25px !important;

  }



  .data-table {

    width: 100% !important;

    margin: 0 !important;

  }

}

</style>



  </head>

  <body style=3D'-webkit-font-smoothing:antialiased;-webkit-text-size-adjus=
t:none;margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvet=
ica, Arial, sans-serif;font-size:100%;line-height:1.6'>

    <table style=3D"background: #F5F6F7;" width=3D"100%" cellpadding=3D"0" =
cellspacing=3D"0">

      <tr>

        <td>

          <!-- body -->

          <table cellpadding=3D"0" cellspacing=3D"0" class=3D"table-wrapper=
" style=3D"width:700px;margin:auto;margin-top:50px;border-radius:7px;-webki=
t-border-radius:7px;-moz-border-radius:7px;box-shadow:0 8px 20px #e3e7ea !i=
mportant;-webkit-box-shadow:0 8px 20px #e3e7ea !important;-moz-box-shadow:0=
 8px 20px #e3e7ea !important;box-shadow: 0 8px 20px #e3e7ea !important; -we=
bkit-box-shadow: 0 8px 20px #e3e7ea !important; -moz-box-shadow: 0 8px 20px=
 #e3e7ea !important;">

            <tr>

              <!-- Brand Header -->

                <td class=3D"container header" style=3D"background-repeat:n=
o-repeat;border-top-left-radius:6px;border-top-right-radius:6px;height:80px=
;background:#222221;background-size:300px;background-position:100%;line-hei=
ght:55px;padding-top:40px;text-align:center;color:#ffffff;display:block !im=
portant;margin:0 auto !important;clear:both !important">

                 =20

                    <img src=3D"https://www.filepicker.io/api/file/qwpJ6FhQ=
Qkyv9QDPtzZc" height=3D"64" width=3D"64" style=3D"max-width:100%;border-rad=
ius:50%;padding:5px">

                 =20

               </td>

            </tr>



<tr>

  <td class=3D"content" style=3D"background:#fff;border-bottom-left-radius:=
6px;border-bottom-right-radius:6px;padding-bottom:40px;margin:0 auto !impor=
tant;clear:both !important">

    <div class=3D"header-title" style=3D"background:#222221;color:#ffffff;p=
adding:0px 60px 40px;text-align:center;margin-bottom:40px">

  <h1 style=3D'font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Gran=
de", sans-serif;line-height:1.2;margin-bottom:15px;color:#47505E;margin:0px=
 0 10px;font-weight:200;line-height:45px;font-weight:bold;margin-bottom:30p=
x;font-size:28px;line-height:40px;margin-bottom:10px;font-weight:400;color:=
#ffffff;padding-left:40px;padding-right:40px;padding-top:40px;padding-top:0=
px'>Confirm your email address</h1>

</div>

<p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neue", "Hel=
vetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom:1.3em;f=
ont-size:15px;color:#47505E;padding-left:40px;padding-right:40px'>

  Hello Jose Martins,

</p>

<p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neue", "Hel=
vetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom:1.3em;f=
ont-size:15px;color:#47505E;padding-left:40px;padding-right:40px'>

  Glad to have you on board.

</p>

<p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neue", "Hel=
vetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom:1.3em;f=
ont-size:15px;color:#47505E;padding-left:40px;padding-right:40px'>

  Please confirm your email address by clicking the button below:

</p>

<p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neue", "Hel=
vetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom:1.3em;f=
ont-size:15px;color:#47505E;padding-left:40px;padding-right:40px'>

  </p>

<center><a class=3D"confirmation-url btn-primary" href=3D"http://email.em.t=
eachable.com/c/eJxFkl13ojAQhn-N3pWThATIhRdulQpbtLUq4g0nhFhiSaAQVuXXL7Tds-fk=
4s0zk_nITD7LCCOAO1M5c6DngjPkHOc4hQBT4uYehsSzASETDGT9AMEDeICQDsISHFlSG9FoVlq=
KyXJazBhyuYsz6iEb0pxnmYsRoQi4DoXu-Yyn5awwpm4n9nyC_OG0bWUZwXjBslJYvFIjE7xrxC=
CgZzuEDkLmQhtp7oPklT7LRk1s31QfQk_shbiHRfbE5UaGwb4P4FqG1BphHr-OsMxiv858eskQU=
ewYmuS4rTOE5fNjWIrVXG4uSxT1CV4v9mTdf7SBKov8MXCiXdKvLwGIdkt783aV7Ljug0slOTLn=
tZ3cN8filq2WY5zP_OljzFVEKupiFR6Z8lfZ8lYlfQJPy9s5L0O2XZyur2-kEKsDi3T9stuXv2M=
d4CO44T2I-lO_1YG8Sm4f5JiHKdqfYlhwPdSroy5B_lB7qDPwS3_19EiGnsBXH9_3wAlU_Yejw-=
gHWEz6Z7UuBtv9hOj8hGDB4usQh5pAA8vGO4ro4tm-aBAVnhNH9zxMt5-H6_aludWY-LazSbw0X=
HoT5HRGpW3VNVwMf_5_IAT5XSuadFwA0fz4KZHLTo2zGfEP5EzVTL7rfzj9GSUzstLTb9QILmRt=
UpnPKPZcRDGh02Z2qdrB3hipW2sIw5r3atjH9_HJuDN_Ad1y6fA" style=3D'color:#f96500=
;word-wrap:break-word;font-family:"Helvetica Neue", "Helvetica", Helvetica,=
 Arial, sans-serif;text-decoration:none;background-color:#f96500;border:sol=
id #f96500;line-height:2;max-width:100%;font-size:14px;padding:8px 40px 8px=
 40px;margin-top:30px;margin-bottom:30px;text-align:center;font-weight:600;=
cursor:pointer;display:inline-block;border-radius:30px;margin-left:auto;mar=
gin-right:auto;color:#FFF !important'>Confirm Email</a></center>



<p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neue", "Hel=
vetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom:1.3em;f=
ont-size:15px;color:#47505E;padding-left:40px;padding-right:40px'>

  Once confirmed, you'll be able to log in with your new account.

</p>



  </td>

</tr>

      </table>

      <!-- /body -->

      <!-- footer -->

      <div class=3D"footer" style=3D"padding-top:30px;padding-bottom:55px;w=
idth:100%;text-align:center;clear:both !important">

        <p style=3D'font-weight:normal;padding:0;font-family:"Helvetica Neu=
e", "Helvetica", Helvetica, Arial, sans-serif;line-height:1.7;margin-bottom=
:1.3em;font-size:15px;color:#47505E;font-size:12px;color:#666;margin-top:0p=
x'>=C2=A9 Growth Academy</p>

       =20

      </div>

      <br>

    </td>

  </tr>

</table>



<img width=3D"1px" height=3D"1px" alt=3D"" src=3D"http://email.em.teachable=
.com/o/eJwVjUkOxCAMBF8z3ILsYLYDb4nAQIZRNpH8X0NuJXW1KoekowY2ogWDzkJFZsq0IJDX=
NjtC7RRo_SFo14QwwYToB8jCs2zHU_oRN7nHtolvIExRZa3Iu1SMAUicq6o2V-BabBXlFZdeuLT=
rWVoOnpydPWkvevid99j7045bchy0niO7vhfJ5_4HWuE0Mw"></body>

</html>

